
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url(imagens/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
strong{
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.container_1{
    text-align: center;
}

#logo_img{
    display: flex;
    margin: auto;
    padding: 20px;
}
.social_midia{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form_section{
    display: flex;
    align-items: center;
    /*margin: 200px;*/
    padding: 10px;
}
/*mark {
    background-color: #FCBF00;
}*/

.bg-light{
    padding: 20px;

}

.col{
    width: 50%;
}

.container{
    padding: 10px;
    display: flex;
    width: 100%;
    max-width:1200px;
    align-items: stretch;
    margin: auto;
}
.logo_img{
    display: flex;
    margin:  auto;
    padding: 20px;
    text-align: center;
}
.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    /*padding: 30px 40px;*/
    width: 78%;
    /*border-radius: 0 20px 20px 0;*/
    border-radius: 10px;
    border: 1px solid ghostwhite;
}
span{
    margin: 20px;
    padding: 20px;
    justify-content: center;
}
footer{
    background-color: #ECECEC;
}
/*
.form-box h2{
    font-size: 30px;
}*/
/*
.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}*/
.form-box p a{
    color: #FF008A;
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 426px;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 10px;
    outline: none;
    border: 2px solid #B5B5B5;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;

}

form .input-group input:focus{
    border-color: gold;
}
form .input-group button{
    width: 426px;
    height: 64px;
    background: #FCBF00;
    border-radius: 50px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: black;
    cursor: pointer;
    font-size: 16px;
}
.grid-container {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #FFFFFF;
  padding: 100px;
  column-gap: 20px;
}
.grid-text {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid ghostwhite;
  border-radius: 10px;
  padding: 50px;
  font-size: 24px;
  text-align: left;
  margin: 10px;
  align-items: stretch;
}




@media screen and (max-width:930px){
    .container{
        display: block;
        
    }
    
    .col{
        width: 100%;
    }

}
@media screen and (max-width: 930px){
  #grid_container{
    display: block;
  }
}


/*
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(imagens/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 930px;
}
.img-box{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
.img-box img{
    width: 100%;
}
.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    font-size: 30px;
}
.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: #FF008A;
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: gold;
}
form .input-group button{
    width: 426px;
    height: 64px;
    background: gold;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: black;
    cursor: pointer;
    font-size: 16px;
}
@media (max-width:930px) {
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
} */
